[user]
	name = takeshi.nakata
	email = nakatatakeshi@gmail.com
[color]
	ui = true
[alias]
	back = reset --hard HEAD
	cancel = checkout HEAD
	cob = checkout -b
	d = diff
	ds = diff --cached
	dh = diff HEAD
	merges = merge --squash
	chp = chery-pick
	cic = reset --hard HEAD^
	ci = commit
	co = checkout
	st = status
	bc = branch
	diffc = diff --cached
	unstage = rm --cached
[core]
	excludesfile = ~/.gitignore
	editor = /home/bkapps/local/bin/vim
	pager = lv -c
